/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");

  --text-color: #353430;
  --accent-color: #ff8dcb;
  --sec-color: var(--text-color);
  --h-color: var(--text-color);
  --title-color: #ffc2e6;
  --on-accent: #353430;
  --ui-color: #353430;
  --ui-hover-border: rgba(53, 52, 48, 0.4);
  --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");

    --text-color: #353430;
    --accent-color: #ff8dcb;
    --sec-color: var(--text-color);
    --h-color: var(--text-color);
    --title-color: #ffc2e6;
    --on-accent: #353430;
    --ui-color: #353430;
    --ui-hover-border: rgba(53, 52, 48, 0.4);
    --rec-visibility: hidden;
  }
}
